<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hubzug Protokolle</title>
  <link rel="stylesheet" href="{% static 'myapp/hubzug.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/protocolHubzugLiftingHost.css' %}">
</head>
<body>
  <header>
    <div class="welcome">
      Welcome, <span id="username">{{ username }}</span>
    </div>
  </header>

  <main>
    <table class="form-table" border="1" cellpadding="8" cellspacing="0">
      <tr>
          <th>Datum</th>
          <th>Uhrzeit</th>
          <th>Problem Beschreibung</th>
          <th>Status</th>
      </tr>
      <tr>
          <td><input type="date" name="datum"></td>
          <td><input type="time" name="uhrzeit"></td>
          <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
          <td>
              <select name="status">
                  <option value="ok">OK</option>
                  <option value="nok">NOK</option>
              </select>
          </td>
      </tr>
      <tr>
        <td><input type="date" name="datum"></td>
        <td><input type="time" name="uhrzeit"></td>
        <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
        <td>
            <select name="status">
                <option value="ok">OK</option>
                <option value="nok">NOK</option>
            </select>
        </td>
    </tr>
    <tr>
      <td><input type="date" name="datum"></td>
      <td><input type="time" name="uhrzeit"></td>
      <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
      <td>
          <select name="status">
              <option value="ok">OK</option>
              <option value="nok">NOK</option>
          </select>
      </td>
  </tr>
  <tr>
    <td><input type="date" name="datum"></td>
    <td><input type="time" name="uhrzeit"></td>
    <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
    <td>
        <select name="status">
            <option value="ok">OK</option>
            <option value="nok">NOK</option>
        </select>
    </td>
</tr>
<tr>
  <td><input type="date" name="datum"></td>
  <td><input type="time" name="uhrzeit"></td>
  <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
  <td>
      <select name="status">
          <option value="ok">OK</option>
          <option value="nok">NOK</option>
      </select>
  </td>
</tr>
<tr>
  <td><input type="date" name="datum"></td>
  <td><input type="time" name="uhrzeit"></td>
  <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
  <td>
      <select name="status">
          <option value="ok">OK</option>
          <option value="nok">NOK</option>
      </select>
  </td>
</tr>
<tr>
  <td><input type="date" name="datum"></td>
  <td><input type="time" name="uhrzeit"></td>
  <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
  <td>
      <select name="status">
          <option value="ok">OK</option>
          <option value="nok">NOK</option>
      </select>
  </td>
</tr>
<tr>
  <td><input type="date" name="datum"></td>
  <td><input type="time" name="uhrzeit"></td>
  <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
  <td>
      <select name="status">
          <option value="ok">OK</option>
          <option value="nok">NOK</option>
      </select>
  </td>
</tr>
<tr>
  <td><input type="date" name="datum"></td>
  <td><input type="time" name="uhrzeit"></td>
  <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
  <td>
      <select name="status">
          <option value="ok">OK</option>
          <option value="nok">NOK</option>
      </select>
  </td>
</tr>
<tr>
  <td><input type="date" name="datum"></td>
  <td><input type="time" name="uhrzeit"></td>
  <td><input type="text" name="problem_beschreibung" style="width: 100%;"></td>
  <td>
      <select name="status">
          <option value="ok">OK</option>
          <option value="nok">NOK</option>
      </select>
  </td>
</tr>
  </table>

  </main>
</body>
</html>
