<!DOCTYPE html>
{% load static %}
{% load convert_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ protokol.protocolName }}</title>
    <link rel="stylesheet" href="{% static 'myapp/protocolHubzugLiftingHost.css' %}">
</head>
<body>
    <div class="logo-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Siemens_AG_logo.svg" alt="Siemens AG Logo">
    </div>
    <div class="container">
        <a href='/sollWertView/' class="back-button">Back</a>
        <h1>{{ protokol.protocolName }}</h1>
        <form id="protokol-form" action="{% url 'protocolHubzugLiftingHostSollWertUpdate' protokol.id %}?fahrzeugId={{ fahrzeug_id }}" method="post" class="description-form" >
            {% csrf_token %}
            <table class="form-table">
                <tr>
                    <th>Prüfmaße / Check Sizes:</th>
                    <th>Soll-Maß Wert</th>
                    <th>Soll-Maß Avarage</th>
                    <th>Soll-Maß desired size
                        [mm]</th>
                </tr>
                <tr>
                    <td><b>1.</b> Horizontaler Abstand der Anschlussbohrungen* / Horizontal distance of connecting holes*</td>
                    <td>
                        <input type="number" id="check_size_1_soll" name="check_size_1_soll" style="width: 100px;" step="0.1">
                    </td>
                    <td>
                        <input type="number" id="check_size_1_soll_avr" name="check_size_1_soll_avr" style="width: 100px;" step="0.1">
                    </td>
                    <td> {{ protokol.check_size_1_soll}} +/- {{ protokol.check_size_1_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>2.</b> Vertikaler Abstand der Anschlussbohrungen / Vertical distance of connecting holes*</td>
                    <td>
                        <input type="number" id="check_size_2_soll" name="check_size_2_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_2_soll_avr" name="check_size_2_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_2_soll}} +/- {{ protokol.check_size_2_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>3.</b> Durchmesser 1. Anschlussbohrung / Diameter of 1st connecting hole</td>
                    <td>
                        <input type="number" id="check_size_3_soll" name="check_size_3_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_3_soll_avr" name="check_size_3_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_3_soll}} +/- {{ protokol.check_size_3_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>4.</b> Durchmesser 2. Anschlussbohrung / Diameter of 2nd connecting hole</td>
                    <td>
                        <input type="number" id="check_size_4_soll" name="check_size_4_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_4_soll_avr" name="check_size_4_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_4_soll}} +/- {{ protokol.check_size_4_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>4a.</b> Abstand zwischen Gehäuseseiten* / Distance between the frame sides*</td>
                    <td>
                        <input type="number" id="check_size_4a_soll" name="check_size_4a_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_4a_soll_avr" name="check_size_4a_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_4a_soll}} +/- {{ protokol.check_size_4a_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>5.</b> Horizontaler Abstand zu Lochkreismitte für Lageranbau* / Horizontal distance to centre of drum bearing*</td>
                    <td>
                        <input type="number" id="check_size_5_soll" name="check_size_5_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_5_soll_avr" name="check_size_5_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_5_soll}} +/- {{ protokol.check_size_5_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>6.</b> Vertikaler Abstand zu Lochkreismitte für Lageranbau* / Vertical distance to centre of drum bearing*</td>
                    <td>
                        <input type="number" id="check_size_6_soll" name="check_size_6_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_6_soll_avr" name="check_size_6_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_6_soll}} +/- {{ protokol.check_size_6_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>7.</b> Durchmesser der Lagerbohrung* / Diameter of the holes for the bearings*</td>
                    <td>
                        <input type="number" id="check_size_7_soll" name="check_size_7_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_7_soll_avr" name="check_size_7_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_7_soll}} +/- {{ protokol.check_size_7_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>8.</b> Abstand zwischen Trommelachse und Bohrung für Klinke / Distance between centre of drum shaft and hole for catch lever</td>
                    <td>
                        <input type="number" id="check_size_8_soll" name="check_size_8_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_8_soll_avr" name="check_size_8_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_8_soll}} +/- {{ protokol.check_size_8_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>9.</b> Abstand zwischen Trommelachse und Bohrung für Klinke / Distance between centre of drum shaft and hole for catch lever</td>
                    <td>
                        <input type="number" id="check_size_9_soll" name="check_size_9_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_9_soll_avr" name="check_size_9_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_9_soll}} +/- {{ protokol.check_size_9_soll_avr}}</td>
                </tr>
                <tr>
                    <td><b>10.</b> Durchmesser der beiden Aufnahmebohrungen der Klinke / Diameter of both holes for the Catch lever</td>
                    <td>
                        <input type="number" id="check_size_10_soll" name="check_size_10_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="check_size_10_soll_avr" name="check_size_10_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.check_size_10_soll}} +/- {{ protokol.check_size_10_soll_avr}}</td>
                </tr>
                <tr>
                    <th colspan="2">Lagetoleranzen / Position tolerances:</th>
                </tr>
                <tr>
                    <td><b>11.</b> Rechtwinkligkeit Trommellagerachse zu beiden Flächen der Seitenscheiben Pos. 1+2 / Right angle drum axle to both sides of the hoist frame Pos. 1 and Pos. 2</td>
                    <td>
                        <input type="number" id="position_tolerance_11_soll" name="position_tolerance_11_soll", style="width: 100px;">
                    </td>
                    <td>
                        <input type="number" id="position_tolerance_11_soll_avr" name="position_tolerance_11_soll_avr", style="width: 100px;">
                    </td>
                    <td> {{ protokol.position_tolerance_11_soll}} +/- {{ protokol.position_tolerance_11_soll_avr}}</td>
                </tr>

                {% for newNumber in protokol.additional_data %}
                    <tr>
                        {% if protokol.additional_data|get_type:newNumber == "Toleranz" %}
                            <td> <b>{{newNumber}}.</b> {{ protokol.additional_data|get_name:newNumber }}</td>
                            <td>
                                <input type="number" id="check_size_{{newNumber}}_soll" name="check_size_{{newNumber}}_soll", style="width: 100px;">
                            </td>
                            <td>
                                <input type="number" id="check_size_{{newNumber}}_soll_avr" name="check_size_{{newNumber}}_soll_avr", style="width: 100px;">
                            </td>
                            <td> {{ protokol.additional_data|get_wert:newNumber }} +/- {{protokol.additional_data|get_avr:newNumber}}</td>
                        {% else %}
                            <td> <b>{{newNumber}}.</b> {{ protokol.additional_data|get_name:newNumber }}</td>
                            <td>
                                <select id="check_size_{{newNumber}}" name="check_size_{{newNumber}}" class="select-control">
                                    <option value="" {% if protokol.check_size_2 is none %}selected{% endif %}></option>
                                    <option value="OK" {% if protokol.check_size_2 == 'OK' %}selected{% endif %}>OK</option>
                                    <option value="NOK" {% if protokol.check_size_2 == 'NOK' %}selected{% endif %}>NOK</option>
                                    <option value="NAE" {% if protokol.check_size_2 == 'NAE' %}selected{% endif %}>NAE</option>
                                </select>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                <tr>
                    <td><input type="text" id="korrektur" name="korrektur" style="display:none;" value=""></td>
                </tr>

                <tr>
                    <td><b>Neues Feld hinzufügen</b></td>
                </tr>

                <tr style="border-bottom: 1px solid #ddd; height: 50px;">
                    <!-- Input field that allows any text -->
                    <td>
                        <input type="text" id="new_field" name="new_field"
                            style="width: 380px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">
                    </td>
                    
                    <!-- Dropdown selection -->
                    <td>
                        <select id="new_type" name="new_type" class="select-control"
                            style="width: 130px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px; background-color: #fff;">
                            <option value="OK/NOK/NAE">Boolean</option>
                            <option value="Toleranz">Toleranz</option>
                        </select>
                    </td>
                    
                    <!-- Button with improved styling -->
                    <td>
                        <button type="button" class="btn-save-export"
                            style="padding: 8px 12px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 14px;"
                            onclick="submitAddNewFieldForm(this)" data-url="{% url 'protocolHubzugLiftingHostAddNewField' protokol.id %}?fahrzeugId={{ fahrzeug_id }}">
                            Hinzufügen
                        </button>
                    </td>
                </tr>
                
            </table>
            <div class="button-container">
                <button type="submit" class="btn-save">Speichern</button>
                <button type="button" class="btn-save-export" onclick="submitPermanentClosedForm(this)" data-url="{% url 'protocolHubzugLiftingHostSollWertClose' protokol.id %}?fahrzeugId={{ fahrzeug_id }}">Bestätigen</button>
            </div>
        </form>
    </div>

    <script src="{% static 'myapp/protocolHubzugLiftingHost.js' %}"></script>
</body>
</html>