<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ protokol.protocolName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 12px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #CCCCCC;
    }
    .header-logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .header-logo img {
        width: 200px; /* Adjust the logo size as necessary */
    }
    .measurement-section th, .measurement-section td {
        text-align: center;
    }
    .measurement-section th {
        background-color: #E0E0E0;
    }
    .footer-section {
        font-size: 10px;
        text-align: center;
        margin-top: 20px;
    }
    .page-break {
        page-break-before: always;
    }
</style>
<body>
    <div class="header-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Siemens_AG_logo.svg" alt="Siemens AG Logo">
    </div>

    <table>
        <tr>
            <th colspan="4">{{ protokol.protocolName }}</th>
        </tr>
        <tr>
            <td>Zeichnung-Nr. <br>
                Drawing No.:</td>
            <td>{{ protokol.drawing }}</td>
            <td>Auftragsnr.: <br>
                Order No.:</td>
            <td>{{ protokol.order }}</td>
        </tr>
        <tr>
            <td>Revision</td>
            <td>{{ protokol.rev }}</td>
            <td>Geräte-Nr.: <br>
                Device No.</td>
            <td>{{ protokol.device }}</td>
        </tr>
        <tr>
            <td>Auftragsnr.-SAG: <br>
                Order No.-SAG:</td>
            <td>{{ protokol.order_sag }}</td>
            <td>Benennung: <br>
                Component: </td>
            <td>{{ protokol.component }}</td>
        </tr>
        <tr>
            <td>Firma: <br>
                Company:</td>
            <td>{{ protokol.company }}</td>
            <td>Stückzahl: <br>
                Quantity:</td>
            <td>{{ protokol.quantity }}</td>
        </tr>
        <tr></tr>
            <td>Baustelle <br>
                Building site</td>
            <td>{{ protokol.baustelle }}</td>
            
        </tr>


    </table>

    <!-- Measurements Table -->
    <table class="measurement-section">
        <tr>
            <th>No.</th>
            <th>Beschreibung / Description</th>
            <th>Soll-Maß <br>
                desired size <br>
                [mm]</th>
            <th>Ist-Maß <br>
                actual size <br>
                [mm]</th>
        </tr>
        <tr>
            <td></td>
            <td><b>Prüfmaße / Check sizes:</b><br></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Wellendurchmesser Antriebssitz rechts* <br>
                Shaft diameter on motor side RIGHT:</td>
            <td>{{ protokol.check_size_1 }}</td>
            <td>65 h6 -0.019</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Wellendurchmesser Lagersitz rechts*<br>
                Shaft diameter on bearing side RIGHT:</td>
            <td>{{ protokol.check_size_2 }}</td>
            <td>70 h6 -0.019</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Wellendurchmesser Antriebssitz links* <br>
                Shaft diameter on motor side LEFT:</td>
            <td>{{ protokol.check_size_3 }}</td>
            
        </tr>
        <tr>
            <td>4</td>
            <td>Wellendurchmesser Lagersitz links*<br>
                Shaft diameter on bearing side LEFT:</td>
            <td>{{ protokol.check_size_4 }}</td>
            <td>70 h6 -0.019</td>
        </tr>
        <tr>
            <td>5</td>
            <td> Durchmesser des Bremsringsitz <br>
                Diameter at brake ring location:</td>
            <td>{{ protokol.check_size_5 }}</td>
            <td>234 h6 -0.029</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Trommellänge gem. Zeichnung*<br>
                Length of rope drum (according to drawing):</td>
            <td>{{ protokol.check_size_6 }}</td>
            <td>1554,5 +/- 0,5</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Rillengeometrie gem. Zeichnung Einzelheit "Z" *<br>
                Rope groove dimensions according to Detail "Z"</td>
            <td>{{ protokol.check_size_7 }}</td>
            <td>R = 4,8 +0,2
                P = 10,5 +0,1</td>
        </tr>
        <tr></tr>
            <td></td>
            <td><b>Rautiefenmessung / Roughness Measurement:</b><br></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Trommelrillen<br>
                Rope grooves:</td>
            <td>{{ protokol.check_size_8 }}</td>
            <td>Rz 25</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Welle am Antriebssitz rechts<br>
                Shaft at motor location RIGHT:</td>
            <td>{{ protokol.check_size_9 }}</td>
            <td>Rz 6,3</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Welle am Antriebssitz links<br>
                Shaft at motor location LEFT:</td>
            <td>{{ protokol.check_size_10 }}</td>
            <td>Rz 6,3</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Welle am Lagersitz rechts<br>
                Shaft at bearing location RIGHT:</td>
            <td>{{ protokol.check_size_11 }}</td>
            <td>Rz 6,3</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Welle am Lagersitz links<br>
                Shaft at bearing location LEFT:</td>
            <td>{{ protokol.check_size_12 }}</td>
            <td>Rz 6,3</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Bremsringsitz, Detail "M"<br>
                Brake ring location, detail "M":</td>
            <td>{{ protokol.check_size_13 }}</td>
            <td>Rz 10</td>
        </tr>
        <td><h5>* = Maß abhängig von Zeichnung / size depends on drawing</h5></td>

    </table>

    <table>
        <tr>
            <td>Last Modified by:</td>
            <td>{{ protokol.last_changer }}</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>{{ protokol.date }}</td>
        </tr>
        <tr>
            <td>Inspector:</td>
            <td>{{ protokol.inspector }}</td>
        </tr>
        <tr>
            <td>Remarks:</td>
            <td>{{ protokol.remark }}</td>
        </tr>
        <tr>
            <td>Measurement Tools:</td>
            <td>{{ protokol.measure }}</td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>{{ protokol.department }}</td>
        </tr>
    
    </table>
</body>
</html>
