<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ protokol.protocolName }}</title>
    <link rel="stylesheet" href="{% static 'myapp/protocolHubzugLiftingHost.css' %}">
</head>
<body>
    <div class="logo-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Siemens_AG_logo.svg" alt="Siemens AG Logo">
    </div>
    <div class="container">
        {% if current_user.pruefer == True %}
        <a href='/prueferView/' class="back-button">Back</a>    
        {% else %}
        <a href='/hubzug/?fahrzeugId={{ fahrzeug_id }}' class="back-button">Back</a>        
        {% endif %}
        <h1>{{ protokol.protocolName }}</h1>
        <form id="protokol-form" action="{% url 'protocolHubzugLiftingHostUpdate' protokol.id %}?fahrzeugId={{ fahrzeug_id }}" method="post" class="description-form" >
            {% csrf_token %}
            <table class="form-table">
                <tr>
                    <th>Beschreibung / Description</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Zeichnung-Nr / Drawing No.:</td>
                    <td><input type="text" id="drawing" name="drawing" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.drawing|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Rev:</td>
                    <td><input type="text" id="rev" name="rev" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.rev|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Auftragsnr. / Order No.:</td>
                    <td><input type="text" id="order" name="order" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.order|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Auftragsnr.-SAG / Order No.-SAG:</td>
                    <td><input type="text" id="order_sag" name="order_sag" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.order_sag|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Benennung / Component:</td>
                    <td><input type="text" id="component" name="component" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.component|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Firma / Company:</td>
                    <td><input type="text" id="company" name="company" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.company|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Stückzahl / Quantity:</td>
                    <td><input type="text" id="quantity" name="quantity" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.quantity|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Baustelle:</td>
                    <td><input type="text" id="baustelle" name="baustelle" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.baustelle|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <th>Beschreibung / Description</th>
                    <th> O.K</th>
                    <th> N.O.K</th>
                </tr>
                <tr>
                    <td><b>1.</b> Schweißnahtvorbereitung geprüft? 100% Sichtprüfung / Are all weld preparation's visual inspected by 100%? </td>
                    <td>
                        <select id="check_size_1" name="check_size_1" class="select-control">
                            <option value="" {% if protokol.check_size_1 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_1 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_1 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>
                    <td id="status_1"></td>
                </tr>
                <tr>
                    <td><b>2.</b> Seiltrommel mit Geräte-Nr. stirnseitig gekennzeichnet (Schlagzahlen) / Device Number hit on the front side of the rope drum</td>
                    <td>
                        <select id="check_size_2" name="check_size_2" class="select-control">
                            <option value="" {% if protokol.check_size_2 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_2 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_2 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>

                    <td id="status_2"></td>
                </tr>
                <tr>
                    <td><b>3.</b> Name des Schweißers / Name of the welding operator (Qualifikation Klasse E, DIN EN 1090 (T1-3))</td>
                    <td>
                        <input type="text" id="check_size_3" name="check_size_3" class="textarea-control" 
                               value="{{ protokol.check_size_3|default_if_none:'' }}">
                    </td>
                    <td id="status_3"></td>
                </tr>
                <tr>
                    <td><b>4.</b> Alle Schweißnähte geprüft? 100% Sichtprüfung. / Are all welding seams visual inspected by 100%?</td>
                    <td>
                        <select id="check_size_4" name="check_size_4" class="select-control">
                            <option value="" {% if protokol.check_size_4 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_4 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_4 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>
                    <td id="status_4"></td>
                </tr>
                <tr>
                    <td><b>5.</b> Bei Serienhubzüge: Rissprüfung durchgeführt bei mind. 1 Seiltrommel je Serienauftrag /Serial hoists: Crack test at least at one drum done?</td>
                    <td>
                        <select id="check_size_5" name="check_size_5" class="select-control">
                            <option value="" {% if protokol.check_size_5 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_5 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_5 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>
                    <td id="status_5"></td>
                </tr>
                <tr>
                    <td><b>6.</b> Dokumentation zur Rissprüfung vorhanden? / Documentation of crack test available?</td>
                    <td>
                        <select id="check_size_6" name="check_size_6" class="select-control">
                            <option value="" {% if protokol.check_size_6 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_6 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_6 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>
                    <td id="status_2"></td>
                </tr>
                
                <tr>
                    <td><b>7.</b> Wurde die Trommel spannungsarm geglüht? Glühprotokoll / Was the drum stress relief heat treated? Documentation?</td>
                    <td>
                        <select id="check_size_7" name="check_size_7" class="select-control">
                            <option value="" {% if protokol.check_size_7 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_7 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_7 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>
                    <td id="status_7"></td>
                </tr>
                <tr>
                    <td><b>8.</b> Wurde die Checkliste Maßkontrolle Seiltrommel ausgefüllt? / Checklist "Rope drum dimension check" filled in?</td>
                    <td>
                        <select id="check_size_8" name="check_size_8" class="select-control">
                            <option value="" {% if protokol.check_size_8 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_8 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_8 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>
                    <td id="status_8"></td>
                </tr>
                <tr>
                    <td><b>9.</b> Wurden blanke Stellen, auf denen kein Seil läuft und kein Bremsring montiert wird, vor dem Einbau in das Gehäuse sorgfältig konserviert? / Are all blank surfaces (eccept of location of brake ring and rope grooves) conserved accurately?</td>
                    <td>
                        <select id="check_size_9" name="check_size_9" class="select-control">
                            <option value="" {% if protokol.check_size_9 is none %}selected{% endif %}></option>
                            <option value="OK" {% if protokol.check_size_9 == 'OK' %}selected{% endif %}>OK</option>
                            <option value="NOK" {% if protokol.check_size_9 == 'NOK' %}selected{% endif %}>NOK</option>
                        </select>
                    </td>
                    <td id="status_9"></td>
                </tr>
  
                <tr>
                    <td><input type="text" id="korrektur" name="korrektur" style="display:none;" value=""></td>
                </tr>
                
                <tr>
                    <td><h4>Sonstiges / Miscellaneous</h4></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bemerkungen / Remarks:</td>
                    <td><input type="text" id="remark" name="remark" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.remark|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Datum / Date:</td>
                    <td><input type="date" id="date" name="date" class="textarea-control" value="{{ protokol.date|default_if_none:'' }}" ></td>
                  </tr>
                {% if current_user.pruefer %}
                    <tr>
                        <td>Prüfer / Inspector:</td>
                        <td><input type="text" id="inspector" name="inspector" minlength="3" maxlength="20" class="textarea-control" pattern="[a-zA-Z1-9,]{2,20}$" title="Please write max of 20 characters" value="{{ protokol.inspector|default_if_none:'' }}"></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Abteilung / Department:</td>
                    <td><input type="text" id="department" name="department" minlength="3" maxlength="20" class="textarea-control" value="{{ protokol.department|default_if_none:'' }}"></td>
                </tr>
                <tr>
                    <td>Last modified:</td>
                    <td>{{ protokol.last_changer|default_if_none:"" }}</td>
                </tr>
            </table>
            <div class="button-container">
                <button type="submit" class="btn-save">Speichern</button>
                {% if current_user.pruefer == True %}
                <button type="button" class="btn-save-export" onclick="submitExportForm(this)" data-url="{% url 'exportProtokolHubzugLiftingHost' protokol.id %}?fahrzeugId={{ fahrzeug_id }}" {% if not protokol.isSaved %}disabled{% endif %}>Protokol zustimmen</button>
                {% else %}
                <button type="button" class="btn-save-export" onclick="submitClosedForm(this)" data-url="{% url 'protocolHubzugLiftingHostClose' protokol.id %}?fahrzeugId={{ fahrzeug_id }}" {% if not protokol.isSaved %}disabled{% endif %}>Protokol abscließen</button>
                {% endif %}
            </div>
        </form>
        
        <div id="confirmation-box" class="confirmation-box" data-fahrzeug-id="{{ fahrzeug_id }}">
            <p>Your protocol will be saved in the given path:</p>
            <p id="file-path"></p>
            <button onclick="hideConfirmation()">OK</button>
        </div>
    </div>

    <script src="{% static 'myapp/protocolHubzugLiftingHost.js' %}"></script>
</body>
</html>