<!-- protocol_list.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protocol List</title>
    <link rel="stylesheet" href="{% static 'myapp/protocol_list.css' %}">
</head>
<body>
    <h1>Protocol List</h1>
    <table>
        <thead>
            <tr>
                <th>Baustelle</th>
                <th>Fahrzeug</th>
                <th>Teil</th>
                <th>Protokol Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for protocol in protocols %}
                <tr>
                    <td>{{ protocol.baustelle }}</td>
                    <td>{{ protocol.fahrzeugName }}</td>
                    <td>Hubzug</td>
                    <td>{{ protocol.hubzug.protocol1.protocolName }}</td>
                    <td>
                        {% if protocol.hubzug.protocol1.isExported %}
                            <div class="circle green"></div>
                        {% elif protocol.hubzug.protocol1.isSaved %}
                            <div class="circle yellow"></div>
                        {% else %}
                            <div class="circle red"></div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>
